<ul>
	{{# 
		layui.each(d, function (i, t) { 
	}}
	<li data-id="{{t.id}}">
			<div>
				<a href="javascript:;" class="showDetail">
					<div class="imgBox">
						<img src="{{ t.image || '/static/images/nopic.jpg' }}" onerror="this.src='/static/images/nopic.jpg'">
					</div>
					<h3>{{ t.title || '' }}</h3>
					<div class="fonts">
						<p>{{ t.brief || '' }}
						</p>
						<div>
							<label>销售量：{{ t.sales || 0 }}</label>
							<span>价格：{{ t.price || '' }}元</span>
						</div>
					</div>
				</a>
				<div class="btnBox">
					<a href="javascript:;" class="layui-btn buyNow">立即下单</a>
				</div>
			</div>
		</li>

	{{# 
		})
	}}
</ul>